.BG{
    background-image: url(./assets/bgc.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
}
.bgBlack{
    background-image: url(./assets/bgBlack.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
